body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    min-height: 100vh;
    margin: 0;
    background-color: #184050;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilos relacionados con las imagenes */
.contenedor-imagenes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos relacionados con los botones */
.contenedor-botones {
    display: none;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}