/*Estilos de la estructura básica de la web*/
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #184050;
  color: #DCDEDF;;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  background-color: #171D25;
  padding: 10px 20px;
  height: 80px;
}

.logo img {
  height: 80px;
}

nav a {
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
  color: #DCDEDF;
  font-size: 20px;
  font-weight: bold;
}

nav a:hover {
  color: #1A9EFD;
}

.activo {
  text-decoration: underline;
  pointer-events: none; /*Desactiva la interacción*/
  cursor: default; 
  color: #1A9EFD; 
}

footer {
  background-color: #171D25;
  text-align: center;
  font-size: 16px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  color: #DCDEDF;
}

/*Estilos del contenido propio de la página*/
#contenido {
  background-color: #1b1b1b;
  padding: 20px;
  margin: 20px 20px;
  border-radius: 8px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contenido h2 { /*Título*/
  font-size: 28px;
  margin-bottom: 40px;
}

#contenido h2:nth-of-type(2) { /*Para separar el segundo título por arriba*/
  margin-top: 60px;
}

.contenedor-juegos , .juegos-destacados{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 30px; 
}

.tarjeta {
  background: #202020;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  width: 267px; 
  text-align: left;
}

.tarjeta:hover {
  transform: scale(1.1); /*Efecto para agrandar ligeramente la tarjeta*/
}

.tarjeta img { /*Imagen del juego*/
  width: 100%;
  height: auto;
  display: block;
}

.tarjeta h3 { /*Título del juego*/
  font-size: 24px;
  margin: 12px 12px;
}

.tarjeta p { /*Descripción del juego*/
  font-size: 16px;
  margin: 12px 12px;
}