/*Estilos de la estructura básica de la web*/
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  flex-direction: column;
  background-color: #184050;
  color: #DCDEDF;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  background-color: #171D25;
  padding: 10px 20px;
  height: 80px;
}

.logo img {
  height: 80px;
}

nav a {
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
  color: #DCDEDF;
  font-size: 20px;
  font-weight: bold;
}

nav a:hover {
  color: #1A9EFD;
}

.activo {
  text-decoration: underline;
  pointer-events: none; /*Desactiva la interacción*/
  cursor: default;
  color: #1A9EFD;
}

footer {
  background-color: #171D25;
  text-align: center;
  font-size: 16px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

/*Estilos del contenido propio de la página*/
#destacado {
  background-color: #1b1b1b;
  padding: 20px;
  margin: 20px 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Parte superior de la informacion del juego*/
.info-superior { 
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 1600px;
  height: 550px;
}

.col-izquierda {
  width: 800px;
  height: auto;
  padding-left: 150px;
}

.col-derecha {
  width: 460px;
  height: auto;
  padding-top: 80px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: left;
}

.descripcion {
  text-align: left;
}

.video video {
  width: 100%;
  max-width: 800px;
  border: 3px solid rgba(13, 112, 204, 0.247);
  border-radius: 10px;
}

/*Parte inferior de la informacion del juego*/
.info-inferior {
  width: 1600px;
  height: 375px;
}

.jugar { /*Contenedor para mostrar el apartado de jugar*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4c6b88;
  padding: 10px 20px;
  border-radius: 5px;
  width: 1255px;
  margin-left: 150px;
  height: 80px;
}

.texto p { /*Texto de jugar al juego*/
  margin: 0;
  font-size: 18px;
}

.precio-boton { /*Contenedor del precio y el enlace de jugar*/
  display: flex;
  align-items: center;
  gap: 10px;
}

.precio { /*Etiqueta para modificar el precio*/
  background-color: #000;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 3px;
  height: 20px;
  width: 85px;
}

.boton { /*Etiqueta para modificar el boton de jugar*/
  background-color: #5cba47;
  border: none;
  padding: 8px 15px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.boton:hover {
  background-color: #4aa93e;
}

.contenedor-tabla { /*Contenedor de la tabla*/
  width: 100%;
  max-width: 1280px;
  margin: 20px auto;
  padding: 10px;
  background-color: #184050;
  border-radius: 10px;
}

.tabla { /*Tabla*/
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  color: black;
}

td, th{ /*Estilo para poner borde a todas las celdas*/
  border: 3px solid #ffffff;
}

.tabla thead { /*Estilo para el color de fondo del thead*/
  background-color: #4c6b88;
}

tbody tr:nth-child(even){
  background-color: #6bb0de;
}

tbody tr:nth-child(odd){
  background-color: #acd1eb;
}

tfoot{ /*Estilo para el color de fondo del tfoot*/
  background-color: #d87a0d;
}

.tabla thead th { /*Estilo para las cabeceras*/
  padding: 15px;
  font-size: 16px;
  text-transform: uppercase;
}

.tabla thead tr:first-child th {
  font-size: 18px;
  text-align: center;
}

.tabla tbody td { /*Filas del cuerpo*/
  padding: 12px 10px;
}

.tabla tfoot td { /*Estilo para el pie de tabla*/
  padding: 10px;
  text-align: center;
  font-style: italic;
}